.each-slide-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  border-width: 0;
  height: 200px;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.each-slide-heading {
  color: #0967d2;
  font-family: 'Bree Serif';
  font-size: 25px;
  font-weight: 500;
}

.each-slide-description {
  color: #334155;
  font-family: 'Roboto';
  font-size: 15px;
}
